
@{
    ViewBag.Title = "Đăng nhập";
}

<div class="text-center">
    <form class="form-inline" id="dangnhap">
        <input name="username" placeholder="Username" class="form-control" style="width: 40%; max-width: 100%; margin-bottom: 10px" /><br />
        <input name="password" type="password" placeholder="Mật khẩu" class="form-control" style="width: 40%; max-width: 100%; margin-bottom: 20px" /><br />
        <input type="submit" value="Đăng nhập" class="btn btn-primary" />
    </form>
</div>